.tabs {
	display: flex;
	border-bottom: 1px solid #CCC;
	margin-top: 2rem;
}

.tab {
	padding: 0.5rem 1rem;
	cursor: pointer;
	background: #EEE;
	margin-right: 5px;
	display: inline-block;
}

.tab-content {
	display: none;
	padding: 1rem;
	background: white;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	min-height: 300px;
}

.tab-content.active {
	display: block;
}

.tab.active {
	font-weight: bold;
	background: #DDD;
}

.tab-content button {
	background-color: #7DA87B;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease;
	display: block;
	width: 100%;
	max-width: 300px;
}

.tab-content button:hover {
	background-color: #6a956a;
}


#reset-name {
	background-color: #cc3545;
}

#reset-name:hover {
	background-color: #a32733;
}

.tab-content p {
	font-size: 1.1rem;
	color: #555;
	line-height: 1.4;
	max-width: 300px;
}

#saveload-container {
	display: flex;
	gap: 50px;
}

#stats span, label {
	font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
	#settings-container, #saveload-container {
		flex-direction: column;
	}
}

#name {
	width: 100%;
	max-width: 300px;
	padding: 0.5rem;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: 1rem;
	box-sizing: border-box;
	margin: 0.5rem 0;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#name:focus {
	border-color: #7DA87B;
	box-shadow: 0 0 5px rgba(125, 168, 123, 0.5);
	outline: none;
}

#saveVideo {
	width: 100%;
}